:root {
    --bimage: url("https://www.gismeteo.ru//assets/flat-ui/img/bg/d_c2.jpg");
}

.div {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px;
    background-image: var(--bimage);
    border-radius: 10px;
}

.divTemp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divWeather {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.text {
    text-align: center;
    font-size: 17px;
    font-family: Arial,sans-serif;
    padding: 15px;
    color: white;
}

.textTemp {
    font-size: 70px;
    font-family: Arial,sans-serif;
    color: white;
}

.textFeeling {
    text-align: center;
    font-size: 13px;
    font-family: Arial,sans-serif;
    color: white;
    width: 250px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(255,255,255,.1);
}

table {
    padding: 15px 30px;
    color: white;
    width: 100%;
    border-radius: 0 0 3px 3px;
    background-color: rgba(0,0,0,.1);
    text-align: center;
}

.divTd {
    font-size: 13px;
    margin-bottom: 4px;
}

.divValue {
    font-size: 32px;
    line-height: 1;
    display: inline-block;
    font-weight: lighter;
    padding-right: 4px;
    margin-bottom: 3px;
}

h5 {
    text-align: center;
    margin-top: 5px;
    color: gray;
}