.list-item {
    font-size: 1.25rem;
}

.list-item button {
    width: 35px;
    margin: 3px;
}

.list-item-label {
    margin-left: 1.25rem;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
}
