.main-app {
    margin: 2rem;
}

.header {
    text-align: center;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.top-panel {
    margin: 1rem 0;
}

.div-block-left {
    flex-basis: 40%;
    margin: 1rem;
}

.div-block-right {
    width: 100%;
    margin: 1rem;
}